
body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  background: #f4f4f4;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.nav-bar {
  background: #14A7DF;
  height: 70px;
  display: flex;
}

.nav-bar-contents {
  margin: 10px auto;
  background: #14A7DF;
  height: 70px;
}

.main-panel {
  height: 100%;
  margin: 20px auto;
}

.left-panel {
  margin-right: 20px;
  margin-left: 20px;
  width: 300px;
}

.right-panel {
  margin-left: 20px;
  margin-right: 20px;
  width: 300px;
}

.center-panel {
  width: 1200px;
  margin-left: 0px !important;
}

.search-input {
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 4px !important;
}

.search-form {
  max-width: 1000px !important;
  width: 1000px !important;
}

.search-hits {
}

.results-top-bar {
  margin: 15px 0px 0px 0px;
  justify-content: space-around;
}

.search-hit-grid {
  justify-content: space-between;
  margin-top: 20px !important;
}


.search-hit {
  height: 300px;
  width: 350px;
  display: flex;
  margin-bottom: 15px;
}
.search-hit-contents{

}

.search-image-details {
  margin-top: 10px !important;
  margin-left: 10px !important;
  padding-right: 5px;
}

.description-text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 220px;
}

.search-hit-image {
  margin: 10px 10px 10px 10px !important;
  max-width: 145px;
  min-width: 145px;
  max-height: 200px;
  min-height: 200px;
}

.search-hit-image img {
  max-width: 145px;
  min-width: 145px;
  max-height: 200px;
  min-height: 200px;
}


.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 250px;
}

.filter-box {
  margin-bottom: 15px;
  width: 100%;
}

.range-slider {
  margin: 10px 5px 25px 5px;
}

.histogram {
  width: 100%;
  height: 200px;
  display: flex;
}

.histogram-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bar-select {
  background-color: #E2F5FB;
}

.bar-select > .bar-fill {
  background-color: #1485AD;
}

.bar-unselected > .bar-fill {
  background-color: #14A7DF;
}


.result-details {
  height: 30px;
}

.filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap:wrap;
}

.filter {
  margin-right: 5px;
  margin-top: 5px;
}

.filter-button svg:hover
{
  background-color: #E3F1F6 !important;
  cursor: pointer;
}

.filter-label{
  font-weight: bold;
}

.sort {
  width: 200px;
  height: 30px;
}

.sort-button {
  width:100%;
}

.term_filter {
  float: right;
}


.tooltip {
  margin-top: 5px;
  height: 20px;
  width:100%;
  min-height: 20px;
}

.tooltip-body {
  border-radius: 4px;
  background-color: #777 !important;
  padding: 5px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  position: absolute;
  font-size: 10px;
}

.tooltip_arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-bottom-color: #777;
  top: 0;
  left: 50%;
  margin-lefst: -.3125rem;
  border-width: 0 5px 5px;
}

.relevancy {


}

.relevancy-box {
  margin-bottom: 15px;
  width: 100%;
}

.relevancy-slider {
  margin-bottom: 20px;
}
